<header class="header">
    <div class="header-container">
      <a href="#" class="logo"><img src="./img/logo.svg" alt="logo"></a>
      <ul class="main-menu">
        <li><a href="#" class="active">ФК Локомотив</a></li>
        <li><a href="#">Билеты</a></li>
        <li><a href="#">интернет-Магазин</a></li>
        <li><a href="#">Клуб</a></li>
        <li><a href="#">Болельщикам</a></li>
      </ul>
      <div class="header-right">
        <a href="#" class="logo-rgd">
          <img src="./img/logo-rgd.svg" alt="">
        </a>
        <div class="header-controls">
          <a href="#"><span class="icon-search"></span></a>
          <a href="#"><span class="icon-user"></span></a>
          <a href="#"><span class="icon-cart"></span></a>
          <a href="#" class="lang-change">ENG</a>
        </div>
        <div class="right-menu-container">
          <div class="right-menu-wrap">
            <div class="right-menu-content">
              <ul class="right-menu-list">
                <li><a href="#">Новости</a></li>
                <li><a href="#">Календарь</a></li>
                <li><a href="#">Турнирная таблица</a></li>
                <li><a href="#">Статистика игроков</a></li>
                <li><a href="#">Игроки</a></li>
                <li><a href="#">Тренерский штаб</a></li>
                <li><a href="#">Медиа</a></li>
                <li><a href="#">Фото</a></li>
                <li><a href="#">Программа лояльности</a></li>
              </ul>
            </div>
          </div>
          <a href="#" class="right-menu-toggle desktop-menu-toggle">
            <div class="right-menu-toggle-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <a href="#" class="right-menu-toggle header-nav-mobile">
            <div class="right-menu-toggle-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="mobile-menu-container">
      <ul class="mobile-menu">
        <li class="mobile-menu-section">
          <a href="#menu_1" class="mobile-menu-section-toggle mobile-menu-nav collapsed" data-toggle="collapse">ФК Локомотив</a>
          <div class="collapse" id="menu_1">
            <ul class="mobile-menu-list">
              <li><a href="#">Новости</a></li>
              <li><a href="#">Календарь</a></li>
              <li><a href="#">Турнирная таблица</a></li>
              <li><a href="#">Статистика игроков</a></li>
              <li><a href="#">Игроки</a></li>
              <li><a href="#">Тренерский штаб</a></li>
              <li><a href="#">Медиа</a></li>
              <li><a href="#">Фото</a></li>
              <li><a href="#">Программа лояльности</a></li>
            </ul>
          </div>
        </li>
        <li class="mobile-menu-section">
          <a href="#menu_2" class="mobile-menu-section-toggle mobile-menu-nav collapsed" data-toggle="collapse">Билеты</a>
          <div class="collapse" id="menu_2">
            <ul class="mobile-menu-list">
              <li><a href="#">Расписание матчей</a></li>
              <li><a href="#">семейный сектор</a></li>
              <li><a href="#">абонементы</a></li>
              <li><a href="#">vip</a></li>
              <li><a href="#">ложи</a></li>
              <li><a href="#">экскурсии</a></li>
              <li><a href="#">Парковка</a></li>
            </ul>
          </div>
        </li>
        <li class="mobile-menu-section">
          <a href="#" class="mobile-menu-nav">интернет-Магазин</a>
        </li>
        <li class="mobile-menu-section">
          <a href="#menu_3" class="mobile-menu-section-toggle mobile-menu-nav collapsed" data-toggle="collapse">Клуб</a>
          <div class="collapse" id="menu_3">
            <ul class="mobile-menu-list">
              <li><a href="#">Болельщикам</a></li>
              <li><a href="#">Стадион</a></li>
              <li><a href="#">Команды клуба</a></li>
              <li><a href="#">Детям</a></li>
              <li><a href="#">Бизнесу</a></li>
              <li><a href="#">Всем</a></li>
              <li><a href="#">Академия</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </header>